.benefits {
  background-color: var(--primary-background-color);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  // & :not(:last-child) {
  //   margin-right: 30px;
  // }
}

.benefits__item {
  display: block;
  width: 100%;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.benefits__description {
  font-size: 14px;
  width: 100%;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.benefits-icon-wrap {
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}
