.contact-list {
  // display: flex;
  display: none;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.contact-list__item {
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.contact-list__item:last-child {
  margin-bottom: 0;
}

.contact-list__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;

  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--hover-focus-color);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;

    align-items: center;
    justify-content: center;
  }
}

.contact-list__icon {
  margin-right: 10px;
  fill: var(--main-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .contact-list__link:hover &,
  .contact-list__link:focus & {
    fill: var(--hover-focus-color);
  }
}
