.order-form {
  display: block;
}

.order-form__field {
  display: block;
  margin-bottom: 10px;
}

.order-form__name {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.input-wrap {
  display: block;
  position: relative;
}

.order-form__input {
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--hover-focus-color);
  }
}

.order-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;

  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .order-form__input:focus + & {
    fill: var(--hover-focus-color);
  }
}

.order-form__comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--hover-focus-color);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.policy {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}

.policy__text {
  font-size: 12px;
  line-height: 1.17;

  justify-content: center;

  color: var(--secondary-text-color);

  @media screen and (min-width: 1200px) {
    text-align: center;
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 1.7;
  }
}

.policy__checkbox-wrap {
  width: 16px;
  height: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;

  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.policy__check-icon {
  width: 11px;
  height: 8px;
}

.policy__check:checked + .policy__text span {
  background-color: var(--hover-focus-color);
  border-color: transparent;
}

.policy__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--hover-focus-color);
  padding-left: 2px;
}

.order-form__submit {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  background: var(--button-color);
  color: var(--title-text-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  cursor: pointer;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.modal-name-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
